@import './App.scss';

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.3rem 0 7rem;

  .toggler {
    transition: all 0.3s ease-out;
    border: none;
    display: none;
    background: transparent;
    cursor: pointer;
    outline: none;

    &:hover {
      .fas {
        transition: all 0.3s ease-in;
        color: $secondary-color;
      }
    }

    i.fas {
      transition: all 0.3s ease-out;
      color: $primary-color;
      font-size: 26px;
    }
  }

  .brand-logo {
    transition: all 0.4s ease-out;
    background: url(../logo.svg) no-repeat center left/100%;
    width: 300px;
    height: 65px;
    min-width: 200px;

    &:hover {
      transition: all 0.4s ease-in;
      transform: scale(1.05);
    }

    a {
      width: 100%;
      height: 100%;
      display: inline-block;
    }
  }

  .nav-links {
    display: flex;
    justify-content: space-between;

    li a {
      padding: 0 10px;
      margin: 0 20px;
      text-decoration: none;
      font-size: 20px;

      &.active {
        color: $secondary-color;
      }
    }
  }
}

@media (max-width: 767px) {
  .app-header {
    &.mobile {
      nav.nav {
        display: block;

        .nav-links {
          padding: 0;

          li {
            position: relative;
            animation: take-a-walk 1s ease-out 1;

            a {
              margin: 0 10px;
              font-size: 16px;
            }
          }
        }
      }
    }

    .brand-logo {
      width: 250px;
    }

    nav {
      &.nav {
        display: none;
      }
    }

    .toggler {
      display: inline-block;
    }
  }
}

@media (max-width: 599px) {
  .app-header {
    .brand-logo {
      width: 250px;
    }

    .toggler {
      display: inline-block;

      i.fas {
        font-size: 24px;
      }
    }

    &.mobile {
      position: relative;

      nav.nav {
        transition: all 1s ease-in-out;
        display: block;
        position: absolute;
        bottom: -75px;
        width: calc(100% - 50px);

        .nav-links {
          padding: 0;
          justify-content: space-evenly;

          li {
            position: relative;
            animation: descend 1s ease-out 1;

            a {
              padding: 0 10px;
              margin: 0 10px;
              text-decoration: none;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@keyframes take-a-walk {
  0% {
    left: 400%;
  }

  50% {
    left: 150%;
  }

  100% {
    left: 0;
  }
}

@keyframes descend {
  0% {
    bottom: 350px;
  }

  50% {
    bottom: 20px;
  }

  100% {
    bottom: 0;
  }
}
